services:
  app:
    build: .
    container_name: pet
    restart: always
    depends_on:
      - pgdb
      - redis
    env_file:
      - .env
    volumes:
      - .:/var/www
    networks:
      - pet

  pgdb:
    image: postgres:15
    container_name: pgdb
    restart: always
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - pet

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      - pet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
    networks:
      - pet

  queue:
    build: .
    container_name: laravel_queue
    restart: always
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=90
    depends_on:
      - app
      - redis
    env_file:
      - .env
    volumes:
      - .:/var/www
    networks:
      - pet
volumes:
  pgdata:

networks:
  pet:
    driver: bridge
